html,
body {
    height: 100%;
    background-color: #333333;
    font-family: 'Source Sans Pro', sans-serif;
}

h1,h3 {
    font-weight: bold;
}

#groups {
    display: none; /* Hidden by default */
    text-align: center;
    color: white;
    width: 100%;
}

#group-section {
    width:30%; 
    float:left;
    padding:30px;
}

#recommendation-section {
    width:70%; 
    float:right;
    padding-top:30px;
    padding-right: 30px;
    text-align: center;
}

#recommendation-container {
    display: none; /* Hidden by default */
    margin-top: 15px;
}

#delete-group-container {
    display: none /* Hidden by default */
}

label {
    margin:5px;
}

/*********************************************************************************/
/* Modal                                                                         */
/*********************************************************************************/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    color: black;
    background-color: #333333;
    margin: 100px;
    padding: 20px;
    width: 550px;
    position: absolute;
    left: 50%;
    top: 50%; 
    transform: translate(-68%, -70%);
    border: 5px solid #f1f1f1;
}

/* Add styles to the form container */
.form-container {
    color: rgb(255, 255, 255);
    padding: 10px;
    background-color: #333333;
}

/* Full-width input fields */
.form-container input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #6FC06A;
  color: #FFF;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: rgb(173, 173, 173);
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

/*********************************************************************************/
/* Welcome Bar.                                                                  */
/*********************************************************************************/

/* Top bar */
.topBar {
  background-color: #8DCB89;
  overflow: hidden;
  text-align: center;
  padding: 20px;
  color: white;
}


/*********************************************************************************/
/* Recommendation List                                                           */
/*********************************************************************************/

#recommendation-list {
    padding-top: 20px;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
  margin-bottom: 20px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
    margin: 0 -5px;
    }

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  color: black;
  border-radius: 0 0 5px 5px;
}

.cuisine-img {
    border-radius: 5px 5px 0 0;
    width:100%;
    height:50%
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}


/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

button {
    background: #6FC06A;
	border-radius: 8px;
	color: #FFF;
    border: solid 1px #6FC06A;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}

button:hover {
  background-color: #333333; 
  border: solid 1px #6FC06A;
}

/*********************************************************************************/
/* Vertical Line Divider                                                         */
/*********************************************************************************/

.vertical { 
    margin-top: 20px;
    margin-bottom: 20px;
    align-content: center;
    height: 100%;
    border-left: 1px solid #6FC06A; 
    position:absolute; 
    left: 27%; 
} 